*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

.container{
   width: 600px;
   margin: 0 auto;
}

.wrapper{
    overflow: hidden;
}

.div1{
    background: rgb(54, 48, 39);
    height: 8px;
    width: 400px;
    border-radius: 5px;
    position: relative;
    margin-bottom: 10px;
}

.div11{
    width: 80%;
    height: 100%;
    position: absolute;
}

.div22{
    width: 70%;
    height: 100%;
    position: absolute;
}

.div33{
    width: 60%;
    height: 100%;
    position: absolute;
}

.div44{
    width: 50%;
    height: 100%;
    position: absolute;
}

.div55{
    width: 40%;
    height: 100%;
    position: absolute;
}

.animate{
    height: 100%;
    border-radius: 5px;
    background: rgb(37, 0, 250);
    animation-name: animate;
    animation-duration: 2s;
}

@keyframes animate{
    from{
        width: 0;
    }

    to{
        width: 100%;
    }
}



/* 2nd */

.div2{
    background: rgb(54, 48, 39);
    height: 8px;
    width: 400px;
    position: relative;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* 3nd */

.div3{
    background: rgb(54, 48, 39);
    height: 8px;
    width: 400px;
    position: relative;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* 4th */

.div4{
    background: rgb(54, 48, 39);
    height: 8px;
    width: 400px;
    position: relative;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* div5 */

.div5{
    background: rgb(54, 48, 39);
    height: 8px;
    width: 400px;
    position: relative;
    border-radius: 5px;
    margin-bottom: 10px;
}