.place{}

.place ul{
	list-style-type: none;
	position: fixed;
	right: 0;
	top:23%;
}

.place ul li{
	/*float: left;*/
}

.place ul li a{}

.place ul li a img{
	height: 60px;
	width: 60px;
	padding: 5px;
}